/* body{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f2f2f2;

}

.dark-mode {
    background-color: #092c3e;
    color: #fff;
}

#dark-mode-button{
    margin-left: 4px;
    margin-top: 4px;
    font-size: 10px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    }

img{
    border: 1px solid greenyellow;
}

  .photo-grid img {
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 20px; 
    height: 150px;
    width: 225px;
      }
      
  
img{
    border: 3px;
    border-color: aqua;
}

  .photo-grid img:hover {
    opacity: 0.9; 
    cursor: pointer; 
    transform: scale(2.2);
  }


 */

 /* Default styles for all screen sizes */

body {
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  img {
    border: 1px solid greenyellow;
  }
  
  .photo-grid img {
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 20px;
    height: 150px;
    width: 225px;
  }
  
  img {
    border: 3px;
    border-color: aqua;
  }
  
  .photo-grid img:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(2.2);
  }
  
  
  @media (max-width: 768px) {
  
    .photo-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .photo-grid img {
      height: 100px;
      width: 150px;
    }
  }
  
  @media (max-width: 480px) {
    /* Styles for screen sizes up to 480px (e.g. smartphones) */
  
    .photo-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .photo-grid img {
      height: 80px;
      width: 120px;
    }
  }
  